<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Modelo App Node </title>
</head>

<body>
   <h1>Lista de Tarefas</h1>
   <button type="button" onclick="window.location='/nova-tarefa'" >Nova Tarefa</button> 
   <br>
   <br>
   <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Tarefa</th>
                <th>Prazo</th>
                <th>Situação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        <%
            let situacao = ["Cancelada","Pendente","Iniciada","Finalizada","Atrasada"]
            if(linhasTabela){
                linhasTabela.forEach( (item)=>{      
        %>
            <tr>
                <td><%= item.id_tarefa %></td>
                <td><%= item.nome_tarefa %></td>
                <td><%= moment(item.prazo_tarefa).format('L') %></td>
                <td><%= situacao[item.situacao_tarefa] %></td>
                <td><a href="/editar?id=<%= item.id_tarefa%>">Editar</a></td>
            </tr>         
        <%
                });
            }else{
        %>    
          <tr colspan="4">
            <td>Sem tarefas para exibir</td>
          </tr>    
        <%
            }
        %>
        </tbody>    
    </table>

</body>

</html>

<!-- moment  usar para formatar a data em pt-br -->